
/* Style form inputs */
input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 11px;
  margin-top: 11px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style submit button */
button[type=submit] {
/*Sets Backgroud color to blue*/
  background-color: #007bff;
  /* Sets backgroud color to white */
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Button types for sumbit  */
button[type=submit]:hover {
/* Sets Backgroud color to blue */
  background-color: #3e93ed;
}

/* Success message style */
#successMsg {
  font-weight: bold;
  color: rgb(9, 15, 144);
  animation: fadeIn 1.0s ease;
}

