<!--  --> 
<!DOCTYPE html>
<html>
  <head>
    <!-- Changes the pages depending on what page your on --> 
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
    <!-- Bootstraping for css styling and loyout  --> 
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome for icons like github,mail and linkedin --> 
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
  </head>
  <body>