<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<div class="container mt-5">
  <h1>About Me</h1>
  <p>Hi, I’m Hermela. I am a second year student studying Tech Managment at Ontario Tech. I am curently taking 5 courses </p>
  <li> BUSI 2200U, Marketing Managment</li>
  <li> BUSI 2500U,  Business Stimulation and Analytics</li>
  <li> BUSI 2050U, Managerial Economics</li>
  <li> INFR 3120U, Web Script & Programming </li>
  <li> INFR 2600U, Computer Security</li>
  <br>


  <h3>Education</h3>
  <ul>
    <li>Bachelor’s Degree in Technology Managment</li>
    <li>High School Diploma in STEM</li>
  </ul>

  <h3>Skills</h3>
  <ul>
    <li>MongoDB / MySQL</li>
    <li>Java, Python, HTML, CSS, JavaScript</li>
    <li>Excel, Powerpoint,</li>
    <li>Node.js, Express</li>
    <li>Responsive Web Design</li>
  </ul>

  <h3>Interests</h3>
  <p>I enjoy creating web applications, learning new technologies, and solving challenging coding problems.</p>
</div>

<%- include('partials/footer') %>
