<!--Includes the shared header -->
<%- include('partials/header') %>
<!-- Inlcudes rhe main_nav funcitons -->
<%- include('partials/main_nav') %>

<!-- Creates container for About me infomation -->
<div class="container mt-5">
  <h1>About Me</h1>
  <!-- Infomration abotu Hermela -->
  <p>Hi, I’m Hermela. I live in Scarbourough and I am the third youngest out of four sibling. I am a second year student studying Tech Managment at Ontario Tech. I am curently taking 5 courses which include. </p>
  <li> BUSI 2200U, Marketing Managment</li>
  <li> BUSI 2500U,  Business Stimulation and Analytics</li>
  <li> BUSI 2050U, Managerial Economics</li>
  <li> INFR 3120U, Web Script & Programming </li>
  <li> INFR 2600U, Computer Security</li>
  <br>


  <!-- Information abotu Hermelas Education -->
  <h3>Education</h3>
  <ul>
    <li>Bachelor’s Degree in Technology Managment - Ontario Tech University</li>
    <li>High School Diploma in STEM</li>
  </ul>

  <!-- Infomration abotu Hermela's skills -->
  <h3>Skills</h3>
  <ul>
    <li>MongoDB / MySQL</li>
    <li>Java, Python, HTML, CSS, JavaScript</li>
    <li>Excel, Powerpoint,</li>
    <li>Node.js, Express</li>
    <li>Responsive Web Design</li>
  </ul>

  <!-- Infomration abotu Hermela's Intreses -->
  <h3>Interests</h3>
  <p>I enjoy walking my dog, Crotcheting and drinking coffee.</p>
</div>

<!-- Includes the fotter -->
<%- include('partials/footer') %>
