<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<div class="container mt-5 text-center">
  <h1>Welcome to My Portfolio</h1>
  <p>Hello! I’m Hermela, a web developer passionate about creating modern, responsive websites.</p>
  <p>Explore my work on the <a href="/projects">Projects</a> page or learn more <a href="/about">About Me</a>.</p>
  <img src="/assets/images/Assignment2.png.png" alt="My Photo" class="img-fluid rounded-circle" width="200">
</div>

<%- include('partials/footer') %>
