<!-- Includes the header   -->
<%- include('partials/header') %>
<!--  Includes the main-nav  -->
<%- include('partials/main_nav') %>

  <!-- Heading font size 2 welcometo my projects page -->
  <h2>Welcome to My Projects Page</h2>

<div class="container my-5">
  <div class="row justify-content-center g-4">
    <!-- Creates the Top Row -->
    <div class="col-md-3">
      <div class="card">
        <!--  Displayes the image in the Asset folder -->
        <img src="/Asset/images/sddefault.jpg"
        class="card-img-top"
        alt="">
        <div class="card-body">
          <i class="fa-regular fa-globe-pointer"></i>
          <h5 class="card-title">Web & Script Programming my first assignment!</h5>
          <p class="card-text">Websites Created using HTML & CSS</p>
          <a href="https://github.com/hermelafassil-lgtm/Web-ScriptProgramming/tree/main/Assignment-1" class="btn btn-primary" target="_blank">Assignment 1</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <!--  Displayes the image in the Asset folder -->
        <img src="/Asset/images/download.jpg" 
        class="card-img-top" 
        alt="">
        <div class="card-body">
          <i class="fa-regular fa-globe-pointer"></i>
          <!-- Card text -->
          <h5 class="card-title">Java vs Javascript</h5>
          <p class="card-text"> Throuough break down of the diffrences between Java and javascript </p>
          <a href="https://www.coursera.org/ca/articles/java-vs-javascript" class="btn btn-primary" target="_blank">Java vs JavaScript</a>
        </div>
      </div>
    </div>

    <!-- Creates the Bottom Row -->
    <div class="col-md-3">
      <div class="card">
        <!--  Displayes the image in the Asset folder -->
        <img src="/Asset/images/bootstrapSummary.png" 
        class="card-img-top" 
        alt="">
        <div class="card-body">
          <i class="fa-regular fa-globe-pointer"></i>
          <h5 class="card-title">What is Bootstrapping</h5>
          <!-- Card text -->
          <p class="card-text">This Article gives a break down into what Bootstrapping is in staticists and how it improves the estimation of confidence intervals and standard errors. </p>
          <!-- Link to the webstie to bootstrapping in stats -->
          <a href="https://www.datacamp.com/tutorial/bootstrapping" class="btn btn-primary" target="_blank">Bootstrapping Deep-Dive</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <!--  Displayes the image in the Asset folder -->
        <img src="/Asset/images/download (1).jpg" class="card-img-top" 
        alt="...">
        <div class="card-body">
          <i class="fa-regular fa-globe-pointer"></i>
          <!-- Card title Node.js -->
          <h5 class="card-title">Node.js</h5>
          <!-- Card text  -->
          <p class="card-text">Provideds the latetes updated version of Node.js </p>
          <!-- Link to the webstie to download Node.js -->
          <a href="https://nodejs.org/en/download" class="btn btn-primary" target="_blank"> --> Download Node.js</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Includes the footer -->
<%- include('partials/footer') %>
