<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<div class="container mt-5 text-center">
  <h1>Welcome to My Websieeeeeeeete </h1>
  <p>This is the home page of my web project.</p>
</div>

<%- include('partials/footer') %>
